.tagesschrift-regular {
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
}
 
 body{
    width:100%;
    margin:0;
    padding:0;
    height:100vh;
 }

.container{
  background-image: url('img/Mud.png');
}

#banner {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(140deg, rgb(184, 249, 241), rgb(86, 213, 255), rgb(20, 196, 255));
  position: relative;
  overflow: hidden;
}

.text{
    display:flex;
    flex-direction: row;
    gap:12%;
    font-size:2.3vw;
    font-family: 'Carter One', sans-serif;
    color:white;
    -webkit-text-stroke: 0.8px;
    -webkit-text-stroke-color: black;
    z-index:10;
}


.flex-1{
margin-left:12%;
}


.game{
  text-align: center;
  font-size: clamp(24px, 6vw, 80px); /* Responsive font size */
  font-family: 'Bungee', sans-serif;
  color: black;
  -webkit-text-stroke: 2px whitesmoke;
  background-image: url(img/anime.jpg);
  background-size: cover;
  padding: 0.8em;
  border-radius: 20px;
  box-shadow: 4px 3px rgb(4, 60, 65);
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game:active{
    box-shadow:none;
    transition: 0.01s;
}




  #clouds :nth-child(1){
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: 50px;
    z-index:0;
    overflow: hidden;
    animation: moveClouds2 108s linear infinite; 

  }

  #clouds :nth-child(2){
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100px;
    z-index:0;
    overflow: hidden;
    animation: moveClouds3 92s linear infinite; 
 
  }

  #clouds :nth-child(3){
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height:150px;
    z-index:0;
    overflow: hidden;
    animation: moveClouds4 84s linear infinite; 
  }

  
  #clouds :nth-child(4){
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height:100px;
    z-index:0;
    overflow: hidden;
    animation: moveClouds5 100s linear infinite; 
  }

  .cloud{
    position: absolute;
    width: 200px;
    height: 120px;
    background-image: url('img/cloud.png'); 
    background-size:cover;
  }

  
  @keyframes moveClouds {
    0% { left: -245px; top:220px; }
    100% { left: 100%;top:220px; }
  }

  @keyframes moveClouds2 {
    0% { right: -270px; top:340px; }
    100% { right: 100%;top:340px; }
  }

  @keyframes moveClouds3 {
    0% { left: -170px; top:100px; }
    100% { left: 100%; top:100px; }
  }

  @keyframes moveClouds4 {
    0% { right: -360px; top:145px; }
    100% { right: 100%; top:145Px; }
  }

  @keyframes moveClouds5 {
    0% { left: -210px; top:500px; }
    100% { left: 100%; top:500px; }
  }



  .grass{
    width: 100%;
    max-height: 160px;
    position: sticky;
    bottom: 0;
    top: calc(100vh - 160px);
    
  }

  .box{
    position:absolute;
    top:80%;
    left:49%;
    transform: translate(-50%, -50%); 
  }

  .box span{
display: block;
width:25px;
height:25px;
border-bottom: 1px solid black;
border-right:1px solid black;
transform: rotate(45deg);
animation: arrow 2s infinite;


  }

.box :nth-child(2){
    animation-delay:0.2s;
   
}

.box :nth-child(3){

    animation-delay:0.4s;
}



  @keyframes arrow{

   0%{
    opacity:0;
    transform: rotate(45deg) translate(-20px, -20px);
   }

   50%{
    opacity:1;
   }

   100%{
    opacity:0;
    transform: rotate(45deg) translate(20px, 20px);
   }
  }

  .game-container{
      display: flex;
      flex-direction: row;
      justify-content: center; 
      gap:20%;
      height: auto;
      padding: 2%;
      margin: 0 auto; 
      max-width: 50em;
      position: relative;
  }

  .game-container-ai{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    gap:20%;
    height: auto;
    padding: 2%;
    margin: 0 auto; 
    max-width: 50em;
    position: relative;
    bottom:13%;
    padding-bottom: 100px;

  }

  .bild {
    vertical-align: middle;
    margin-left: 8px;
    width:100px;
    height:120px;
    position: relative;
    top: -10px; 
  }
  

  .Rock{
    padding:30px;
    background-color: #074906;
    border-radius:40px;
  
  }
  
  .Paper{
    padding:30px;
    background-color: #074906;
    border-radius:40px;
  }

  .Scissor{
    padding:30px;
    background-color: #074906;
    border-radius:40px;
  }

  .Rock-ai{
    padding:30px;
    background-color: #590010;
   border-radius:40px;
  }
  
  .Paper-ai{
    padding:30px;
    background-color: #980d26;
    border-radius:40px;
  }

  .Scissor-ai{
    padding:30px;
    background-color: #980d26;
    border-radius:40px;
  }
 
  
  .Paper:hover{
    box-shadow: 2px 1px #12B33A;
    transition: 0.15s ease;
    transform: scale(1.05);
    box-shadow: 0px 0px 170px 0px rgba(63,255,46,0.33);
  
 
  }

  .Scissor:hover{
    box-shadow: 2px 1px #12B33A;
    transition: 0.15s ease-in;
    transform: scale(1.05);
    box-shadow: 0px 0px 170px 0px rgba(63,255,46,0.33);
  }

  .Rock:hover{
   box-shadow: 2px 1px #12B33A;
   transition: 0.15s ease-in-out;
   transform: scale(1.05);
   box-shadow: 0px 0px 170px 0px rgba(63,255,46,0.33);
  }

  .header-2{
    text-align: center;
    color:white;
    font-size:24px;
    margin-top: 0;
    padding-top: 40px;
    font-family: "Tagesschrift", system-ui;
  }

  p{
    text-align: center;
    color:rgb(211, 211, 211);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 110%;
    
  }

  .score{
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
  }

  .score-ai{
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position:relative;
    top:48%;
    color: aliceblue;
  }



  .Winner{
    text-align: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    bottom:10%;
    color: aliceblue;

  }

  b{
    color:green;
    
  }

  @media (max-width: 768px) {
    .title {
      font-size: 8vw;
    }
  
    .bild {
      vertical-align: middle;
      width: 80px;
      height: 100px;
      position: relative;
      top: -1px; 
    }
  
    .game {
      width: 50vw;
      font-size: 8vw;
      border-radius: 2vw;
    }

    .game-container{

      gap:4em;
  
  }

  .game-container-ai{

    gap:4em;
  
}

  
  }
  
  @media (max-width: 480px) {
    .text {
      font-size: 3vw;
    }
  
    .bild {
      left:-12%;
      vertical-align: middle;
      margin-left: 18px;
      width: 80px;
      top: -1px; 
    }

    .game-container{
      gap:10px;
  
  }

  .game-container-ai{
    gap:10px;
  
}

  .Rock{
    padding:8px;
    background-color: #074906;
    border-radius:40px;
  
  }
  
  .Paper{
    padding:8px;
    background-color: #074906;
    border-radius:40px;
  }

  .Scissor{
    padding:8px;
    background-color: #074906;
    border-radius:40px;
  }

  .Rock-ai{
    padding:8px;
    background-color: #074906;
    border-radius:40px;
  
  }
  
  .Paper-ai{
    padding:8px;
    background-color: #074906;
    border-radius:40px;
  }

  .Scissor-ai{
    padding:8px;
    background-color: #074906;
    border-radius:40px;
  }

  .bild {
    vertical-align: middle;
    margin-left: 18px;
    width: 80px;
    top: -1px; 
  }
 
  }